.react-bs-table-container {
  margin: 5px 10px;
}

.tr-string-example, .th-string-example{
    font-style: oblique;
    color: red;
    background-color: aquamarine;
}

.tr-function-example{
    font-weight: bold;
    background-color: aquamarine;
}

.td-header-string-example{
    font-style: oblique;
    color: red;
    background-color: aquamarine;
}

.td-column-string-example{
    color: blue;
    background-color: antiquewhite;
}

.td-column-function-odd-example{
    color: blue;
    background-color: antiquewhite;
}

.td-column-function-even-example{
    color: red;
    background-color: yellowgreen;
}

.my-header-class {
  background-color: #0066FF;
}

.my-body-class {
  background-color: #CC00FF;
}

.my-container-class {
  border: #0000FF 2.5px solid;
}

.my-table-container-class {
  border: #FFBB73 5px solid;
}

.class-for-editing-cell {
    background-color: #FFBB73;
}
